*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.cursor{
    display: none;
    height: 20px;
    width: 20px;
    border: none;
    pointer-events: none;
    border-radius: 50%;
    position: fixed;
    background: blue;
    z-index: 999;
    animation: animate 3s linear infinite;
    box-shadow: 0px 0px 20px blue,0px 0px 40px blue,0px 0px 60px blue,0px 0px 80px blue;
}

@keyframes animate {
    0%{filter: hue-rotate(0deg);}
    100%{filter: hue-rotate(360deg);}
}
.cursor::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background: blue;
    box-shadow: 0px 0px 20px blue,0px 0px 40px blue;
    border-radius: 50%;
    opacity: .5;
    transform: translate(-30%,-30%);
}